*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.hero-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, .6);
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.hero-text h1{
    margin-bottom: 5px;
    text-shadow: 3px 3px 5px black;
    color: #ddd;
}

.hero-text span{
    text-transform: uppercase;
    color: #09f;
}

.section-title{
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

/* nawigacja */

nav{
    height: 60px;
    line-height: 60px;
    background-color: #ddd;
    text-align: center;
}


.burger-icon{
    display: block;
    margin-left: auto;
    padding: 0 30px;
    line-height: 60px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-items{
    display: none;
}

/* header */

.header{
    position: relative;
    height: 330px;
    background-image: url(../img/hero-small.jpg);
    background-size: cover;
    background-position-y: bottom;
}

/* main */

main{
    margin-top: 60px 0;
}

/* o nas */

.about-us-info{
    margin-bottom: 10px;
    padding: 0 20px;
}

/* produkty */

.products{
    margin: 60px auto;
}


.product{
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.product h3{
    text-transform: uppercase;
}

.first-product{
    background-image: url(../img/dzieci-small.jpg);   
}

.second-product{
    background-image: url(../img/klawiatura-small.jpg);
}

.third-product{
    background-image: url(../img/kobieta-small.jpg);
}

.four-product{
    background-image: url(../img/domowebiurko-small.jpg);
}

@media (min-width: 768px){
    .nav-items{
        display: block;
    }
    .burger-icon{
        display: none;
    }

    .nav-items a{
        padding: 0 30px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #333;
        transition: color .3s;
    }
    
    .nav-items a:hover{
        color: #09f;
    }

    .header{
        height: 400px;
        background-image: url(../img/hero-big.jpg);
    }

    .hero-text h1{
        font-size: 36px;
    }

    .hero-text p{
        font-size: 18px;
    }

    .product h3{
        font-size: 24px;
    }
}

@media (min-width: 992px){
    .products-box{
        font-size: 0;
    }

    .product{
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 1200px){
    .hero-text h1{
        font-size: 42px;
    }

    .hero-text p{
        font-size: 20px;
    }
}